tensorflow
torch
pandas
numpy
streamlit
scikit-learn
matplotlib
notebook
langchain
langchain_community
langchain-google-genai
langchain-ollama
sentence-transformers
transformers
huggingface_hub
pymupdf
faiss-cpu
python-dotenv
langgraph